
{{ $eyecache_image := 0 }}
{{ $width := 0 }}
{{ $height := 0 }}

{{ if or (isset .Params "eyecatch") (isset .Params "featured_image") }}
    {{ $eyecache_param := "" }}
    {{ with .Params.eyecatch }}{{ $eyecache_param = . }}{{ end }}
    {{ with .Params.featured_image }}{{ $eyecache_param = . }}{{ end }}

    {{ with .Resources.ByType "image" }}
        {{ range . }}
            {{ if eq (path.Base .Name) ( path.Base $eyecache_param) }}
                {{ $eyecache_image = . }}         
            {{ end }}
        {{ end }}
    {{ end }}
    {{ if $eyecache_image  }}
        {{ $width = $eyecache_image.Width }}
        {{ $height = $eyecache_image.Height }}
    {{ else }}
        {{ $path := printf "/assets/%s" $eyecache_param }}
        {{ if fileExists $path }}
            {{ $eyecache_image = resources.Get $eyecache_param | fingerprint }}
            {{ $imageConfig := imageConfig $path }}
            {{ $width = $imageConfig.Width }}
            {{ $height = $imageConfig.Height }}
        {{ end }}
    {{ end }}
{{ else if or (isset .Site.Params "eyecatch") (isset .Site.Params "featured_image")  }}
    {{ $eyecache_param := "" }}
    {{ with .Site.Params.eyecatch }}{{ $eyecache_param = . }}{{ end }}
    {{ with .Site.Params.featured_image }}{{ $eyecache_param = . }}{{ end }}

    {{ $path := printf "/assets/%s" $eyecache_param }}
    {{ if fileExists $path }}
        {{ $eyecache_image = resources.Get $eyecache_param | fingerprint  }}
        {{ $imageConfig := imageConfig $path }}
        {{ $width = $imageConfig.Width }}
        {{ $height = $imageConfig.Height }}
    {{ end }}
{{ end }}
{{ return dict "eyecache" $eyecache_image "width" $width "height" $height }}

