
{{ $eyecache_image := 0 }}
{{ $width := 0 }}
{{ $height := 0 }}

{{ if isset .Params "eyecatch" }}
    {{ with .Resources.ByType "image" }}
        {{ range . }}
            {{ if eq (path.Base .Name) ( path.Base $.Params.eyecatch) }}
                {{ $eyecache_image = . }}         
            {{ end }}
        {{ end }}
    {{ end }}
    {{ if $eyecache_image  }}
        {{ $width = $eyecache_image.Width }}
        {{ $height = $eyecache_image.Height }}
    {{ else }}
        {{ $path := printf "/assets/%s" .Params.eyecatch }}
        {{ if fileExists $path }}
            {{ $eyecache_image = resources.Get .Params.eyecatch | fingerprint }}
            {{ $imageConfig := imageConfig $path }}
            {{ $width = $imageConfig.Width }}
            {{ $height = $imageConfig.Height }}
        {{ end }}
    {{ end }}
{{ else if isset .Site.Params "eyecatch" }}
    {{ if .Site.Params.eyecatch }}
        {{ $path := printf "/assets/%s" .Site.Params.eyecatch }}
        {{ if fileExists $path }}
            {{ $eyecache_image = resources.Get .Site.Params.eyecatch | fingerprint  }}
            {{ $imageConfig := imageConfig $path }}
            {{ $width = $imageConfig.Width }}
            {{ $height = $imageConfig.Height }}
        {{ end }}
    {{ end }}
{{ end }}
{{ return dict "eyecache" $eyecache_image "width" $width "height" $height }}

