@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 100;
}

@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 200;
}

@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 300;
}

@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 400;
}

@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Bold");
    font-weight: bold;
}

@font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue Regular");
    font-weight: 100;
}

@font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue Regular");
    font-weight: 200;
}

@font-face {
    font-family: "MyYuGothicM";
    font-weight: 100;
    src: local("YuGothic-Light"), local("Yu Gothic Light");
}

@font-face {
    font-family: "MyYuGothicM";
    font-weight: 200;
    src: local("YuGothic-Light"), local("Yu Gothic Light");
}

@font-face {
    font-family: "MyYuGothicM";
    font-weight: 300;
    src: local("YuGothic-Regular"), local("Yu Gothic");
}

@font-face {
    font-family: "MyYuGothicM";
    font-weight: 400;
    src: local("YuGothic-Medium"), local("Yu Gothic Medium"), local("YuGothic-Regular");
}

@font-face {
    font-family: "MyYuGothicM";
    font-weight: 500;
    src: local("YuGothic-Medium"), local("Yu Gothic Medium"), local("YuGothic-Regular");
}

@font-face {
    font-family: "MyYuGothicM";
    font-weight: 600;
    src: local("YuGothic-Bold"), local("Yu Gothic");
}

@font-face {
    font-family: "MyYuGothicM";
    font-weight: 700;
    src: local("YuGothic-Bold"), local("Yu Gothic");
}

@font-face {
    font-family: "MyYuGothicM";
    font-weight: 800;
    src: local("YuGothic-Bold"), local("Yu Gothic");
}

@font-face {
    font-family: "MyYuGothicM";
    font-weight: 900;
    src: local("YuGothic-Bold"), local("Yu Gothic");
}

