
$font_size_11px: 0.6875rem;
$font_size_12px: 0.75rem;
$font_size_14px: 0.875rem;
$font_size_16px: 1rem;
$font_size_24px: 1.5rem;
$font_size_32px: 2rem;
$font_size_38px: 2.375rem;
$font_size_42px: 2.625rem;
$font_size_68px: 4.25rem;

$site_width: 1260px;
$site_aside_width: 400px;
$site_main_article_width: $site_width - $site_aside_width;

$font_default_family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "BIZ UDPゴシック", BIZ-UDPGothic, "UD Digi Kyokasho N-R", "Hiragino Kaku Gothic ProN", "Noto Sans JP", MyYuGothicM, Verdana, Meiryo, "M+ 1p", sans-serif;
$font_color_block: #212529;
$font_color_link: #007bff;
$font_color_link_hover: #0056b3;


@mixin media_screen_mobile {
    @media screen and (max-width: 1024px) {
        @content;
    }
}