.m-body {
    display: block;
    width: 100%;
}

.m-global-header {
    display: flex;
    align-items: baseline;
    max-width: $site_width;

    margin-left: auto;
    margin-right: auto;

    height: 100px;

    @include media_screen_mobile(){
        flex-direction: column;
        align-items: center;

        height: auto;
    }
}

.m-main {
    display: block;
    max-width: $site_width;
    margin-left: auto;
    margin-right: auto;

    &-container {
        display: flex;

        @include media_screen_mobile(){
            flex-direction: column;
        }
    }
}

.m-content-container {
    width: auto;
}

.m-aside-container {
    flex-shrink: 0;
    
    width: $site_aside_width;

    @include media_screen_mobile(){
        width: auto;
    }
}

.m-global-footer {
    display: block;
    max-width: $site_width;
    margin-left: auto;
    margin-right: auto;
}
